apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-blue
  namespace: project
  labels:
    app: frontend
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
      version: blue
  template:
    metadata:
      labels:
        app: frontend
        version: blue
    spec:
      containers:
        - name: frontend
          image: sohummnm/frontend:v1
          ports:
            - containerPort: 80
