# terraform reusable workflow

name: Terraform Reusable Workflow

on:
  workflow_call:
    inputs:
        working_directory:
            required: true
            type: string
        tf_action:
          required: true
          type: string
          default: "plan"
    secrets:
        AZURE_CLIENT_ID:
            required: true
        AZURE_TENANT_ID:
            required: true
        AZURE_SUBSCRIPTION_ID:
            required: true
jobs:
    terraform:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
          - name: Azure Login(oidc)
            uses: azure/login@v2
            with:
              client-id: ${{ secrets.AZURE_CLIENT_ID }}
              tenant-id: ${{ secrets.AZURE_TENANT_ID }}
              subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v3
            with:
              terraform_version: '1.9.0'

          - name: Terraform Init
            run: terraform init
            working-directory: ${{ inputs.working_directory }}
            env:
              ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
              ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
              ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
              ARM_USE_OIDC: true
          - name: Terraform Validate
            run: terraform validate
            working-directory: ${{ inputs.working_directory }}
          - name: Terraform Plan
            if: inputs.tf_action == 'plan' || inputs.tf_action == 'apply'
            run: terraform plan
            working-directory: ${{ inputs.working_directory }}
            env:
              ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
              ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
              ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
              ARM_USE_OIDC: true
          - name: Security Scan with tfsec
            uses: aquasecurity/tfsec-action@v1.0.3
            with:
              working_directory: ${{ inputs.working_directory }}
          - name: Terraform Apply
            if: inputs.tf_action == 'apply' && github.ref == 'refs/heads/main'
            run: terraform apply -auto-approve 
            working-directory: ${{ inputs.working_directory }}
            env:
              ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
              ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
              ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
              ARM_USE_OIDC: true    
          - name: Terraform Destroy
            if: inputs.tf_action == 'destroy' 
            run: terraform destroy -auto-approve
            working-directory: ${{ inputs.working_directory }}
            env:
              ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
              ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
              ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
              ARM_USE_OIDC: true  